/** General */
html {
    background-color:#EAEAE8;
}

body {
    font-family:"Bitstream Vera Sans", "DejaVu Sans", Verdana;
    margin:10px auto;
    width:763px;
    color:#484848;    
}

a {
    color:#3080CB;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
	color:orange;
}

label {
    font-weight:bold;
    padding-top:2px;
}

input, textarea, select {
    font-family:"Bitstream Vera Sans", "DejaVu Sans";
    color:#484848;
}

.round-1px {
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
}

.round-2px {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

input[type=password],
input[type=text],
select,
textarea {    
    border:1px solid #CCCCCC;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    padding: 2px 0px;
}

input[type=password]:focus,
input[type=text]:focus {
    background-color:#FFFFDD;
}

img.samba-logo {
    float:left;
}

img.samba-logo-interior {
    width:160px;
    height:81px;
}

div.swat-content {
    border:2px double #72808B;    
    padding:10px 25px 25px 25px;
    
    background-color:#ffffff;
    
    -moz-box-shadow:0 0 10px #888888;
    -webkit-box-shadow:0 0 10px #888888;
}

div.clear-both {
    clear:both;
}

#check-all {
    float:left;
}

/** Structure */
#swat-top {
    margin-bottom:15px;
    padding-bottom:10px;
    position:relative;    
    border-bottom:1px solid #cccccc;
}

#swat-top-nav {
    float:right;
}

#swat-footer {
    text-align:center;
    font-size:77%;
    margin-top:15px;
}

/** */
ul.useful-links {
    font-size:85%;
}

ul.useful-links li {
    display:inline;
    border-left:1px solid #CCCCCC;
    margin-left:10px;
    padding-left:10px;
}

ul.useful-links li:first-child {
    border-left:none;
}


/** Layout :: Login */
div.login {
    width:400px;
        
    padding:35px;
    position:relative;            
        
    padding:35px;
    margin:0px auto;
}

    /** Logo */
    div.login img.samba-logo {
        float:none;
        display:block;
        margin:0px auto;
    }
    
    div.login ul.useful-links {
        position:absolute;
        bottom:10px;
        right:20px;
    }
    
    div.login p.message {
        font-size:85%;
        text-align:center;
        margin-top:25px;
    }

    /** Login Form */
        form.login {
            width:250px;
            margin:25px auto 25px auto;
        }
        
        form.login ol li {
            margin-top:10px;
        }
    
        form.login label {
            display:block;
            float:left;            
            font-size:85%;
            
            margin-right: 5px;
            text-align:right;
            width:88px;
            
            padding-top:3px;
        }
        
        form.login input[type=password],
        form.login input[type=text] {
            font-size:85%;
            padding:2px;
            width:151px;
        }
        
        form.login li.submission {
            margin-top:15px;
            text-align:right;
            font-size:85%;
        }
        
/** Layout :: Dashboard */
div.dashboard {
}

div.dashboard-row.col2 div.widget:first-child {
    margin-right:10px;
}

/** Widgets */
div.widget {
    border:1px solid #CCCCCC;    
    margin-bottom:15px;
    min-height:100px;
}

div.widget div.title-bar {
    background-color:#EAEAE8;
    border-bottom:1px solid #cccccc;
    padding:5px;
    overflow:auto;
}

div.widget div.title-bar h2 {
    font-weight:bold;
    float:left;
}

div.widget div.title-bar h2 a {
    color:#484848;
}

div.widget div.title-bar ul {
    float:right;
}

div.widget div.title-bar ul li {
    display:inline;
}

div.widget div.title-bar ul li a img {
    float:left;
}

/** Dashboard Widgets */
div.dashboard-row.col2 div.widget {
    float:left;
    display:block;
    width:347px;
}

/** Widget Task List */
ul.widget-task-list {
    padding:15px 10px;
}

ul.widget-task-list li {
    display:block;
    float:left;
    font-size:85%;
    height:48px;
    margin-bottom:10px;
    margin-right:1px;
    text-align:center;
    width:78px;
}

/** Item Filter */
div.filter-items {
    float:right;
    position:absolute;
    right:0;
    bottom:10px;
    font-size:85%;
}

div.filter-items {
}

a.item-icon-link {
    display:block;
    width:100%;
    height:100%;
    color:#484848;
    outline:none;
}

a.item-icon-link span {
    display:block;
}

a.item-icon-link:hover {
    text-decoration:none;
}

/** Server Name */
h1.server-name {
    position:absolute;
    bottom:0;
    left:185px;
    font-size:116%;
    font-weight:bold;
    bottom:10px; 
}

h2.module-title {
    font-weight:bold;
    text-align:center;
    margin-bottom:15px;
}

h1.server-name.up {
    background-image:url("../images/icons/server.png");
}

h1.server-name.down {
    background-image:url("../images/icons/server-exclamation.png");
}

.title-icon {
    background-repeat:no-repeat;
    background-position:left center;    
    padding-left:25px;
}

/** Breadcrumb */
ul.breadcrumb-trail {
    border-bottom:1px solid #CCCCCC;
    font-size:85%;
    margin-bottom:15px;
    padding-bottom:15px;
}

ul.breadcrumb-trail li {
    display:inline;
}

/** Messaging */
div.messages {
    font-size:85%;
    font-weight:bold;
    margin-bottom:15px;
    padding:15px;
    text-align:center;
    color:White;
}

div.messages a {
    color:#484848;
}

div.messages.critical {
    background-color:#C24E13;
}

div.messages.warning {
    background-color:#ECE48E;
}

div.messages.cool {
    background-color:#819770;
}

/** Task Toolbar */
#task-toolbar {
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding:5px 0px;
    margin-bottom:15px;
}

ul.task-toolbar {
    float:right;
    display:block;
}

ul.task-toolbar li {
    float:left;
    font-size:85%;
    margin-left:1px;    
    width:68px;
    text-align:center;
    padding:5px;
    height:46px;
}

ul.task-toolbar li:hover{
    background-color:#F3F2E0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

/** Share List */
table.list {
    width:100%;
    margin-bottom:15px;
}

table.list thead {
    font-weight:bold;
    font-size:93%;
    background-color:#E1E3DA;
    border:1px solid #72808B;
}
table.list tbody {
    font-size:85%;
}

table.list.not-empty tbody tr:hover {
    background-color:#E1E3DA !important;
    cursor:pointer;
    color:#484848;
}

table.list td {
    padding:5px;
}

table.list tfoot td {
    padding:0;
    padding-top:10px;
}

table.list tr.selected-row {
    background-color:#ffffcc !important;
}

table.list tr.alternate-row {
    background-color:#f8f8f8;
}

table.list tr.disabled-row td {
    text-decoration:line-through;
}

table.list td.home-directory {
    background-image:url("../images/icons/home.png");
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:25px;
}

table.list thead td.check-all{}
table.list thead td.share-row-id{}
table.list thead td.share-name{width:100px;}
table.list thead td.share-path{width:200px;}
table.list thead td.share-comment{width:252px;}
table.list thead td.share-quick-operations{}

ul.quick-tasks li {
    display:inline;
}

/** Share Edit and Creation Form */
form.share-form ol {
    
}

/** Share Creation Form  */
p.option-help {
    font-size:77%;
    
    margin-bottom:15px;
    padding-left:15px;
    
    background-image:url("../images/icons/question-small.png");
    background-repeat:no-repeat;
    background-position:left -1px;
}

p.option-help.no-margin{
    margin-bottom:0;
}

p.disabled-param {
    font-size:77%;
    color:#C24E13;
    
    margin-bottom:15px;
    padding-left:15px;
    
    background-image:url("../images/icons/cross-small-circle.png");
    background-repeat:no-repeat;
    background-position:left -1px;
}

form.share-configuration label {
    float:left;
    display:block;
    font-weight:bold;
    text-align:right;
    width:120px;
    font-size:85%;
    margin-right:5px;
}

form.share-configuration label.checkbox {
    float:none;
    display:inline;    
}

form.share-configuration input[type=text] {
    font-size:85%; 
}

form.share-configuration input.big-margin[type=checkbox] {
    margin-left:85px;
}

form.share-configuration input.big-text {
    width:400px;
}

form.share-configuration input.small-text {
    width:25px;
}

ol.col-1 > li {
    margin-bottom:30px;
    overflow:auto;
    padding:5px 0px;
}

ol.col-2 > li {
    float:left;
    width:50%;
    display:block;
    margin-bottom:20px;
    min-height:70px;
}

form.share-configuration span.field-wrapper {
    display:block;
    float:left;
}

form.share-configuration ol.field-ops {
    margin-left:10px;
    float:left;
    display:block;
}

form.share-configuration ol.field-ops li {
    float:left;
    display:block;
    margin: 0px 5px;
    margin-left: 5px;
}

form.share-configuration p.field-title {
    font-size:93%;
    text-align:center;
    margin-bottom:20px;
    font-weight:bold;
}

form.share-configuration ul.permissions-selection {
    width:400px;
    margin:0px auto;
}

form.share-configuration ul.permissions-selection li {
    margin-bottom:20px;
    overflow:auto;
}

form.share-configuration ul.permissions-selection li label {
    width:150px;
}

/** Share Summary */
div.share-comment {
    margin-top:15px;
}

div.share-comment div.content {
    padding:15px;
}

div.share-comment textarea {
    font-size:85%;
    width:100%;
}

/** */
a.selection-popup-link {
    margin-left:5px;
}

ul.editable-list {
    overflow:auto;
    margin-left:104px;
    margin-bottom:15px;
}

ul.editable-list li {
    border:1px solid #72808B;
    background-color:#EAEAE8;
    padding:5px 10px;
    float:left;
    display:block;
    margin:0px 2px;
    
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    
    font-size:85%;
}

ol.tab-list {
    overflow:auto;
    background-color:#EAEAE8;
    border:1px solid #CCCCCC;
    
    -moz-border-radius-topleft:2px;
    -moz-border-radius-topright:2px;
    -webkit-border-radius-topleft:2px;
    -webkit-border-radius-topright:2px;    
}

ol.tab-list li {
    float:left;
    display:block;
    background-color:#EAEAE8;
    font-size:100%;
    border-right:1px solid #cccccc;
}

ol.tab-list li a {
    display:block;
    color:#484848;
    padding:5px 15px 5px 35px;
    background-position:10px center;
    text-decoration:none;
}

ol.tab-list li:hover,
ol.tab-list li.active {
    display:block;
    background-color:#E1E3DA;    
}

ol.tab-list li.validation-failed:hover,
ol.tab-list li.validation-failed {
    background-color:#c24e13;
}

ol.tab-list li.validation-failed a {
    color:#ffffff;
}

ol.tab-list li.active a {
    font-weight:bold;
}

ul.tab-list-items {
    clear:both;    
}

ul.tab-list-items > li {
    display:none;
    padding:15px;
    border:1px solid #cccccc;
    border-top:none;
    
    min-height:200px;
    -moz-border-radius-bottomleft:2px;
    -moz-border-radius-bottomright:2px;
    -webkit-border-radius-bottomleft:2px;
    -webkit-border-radius-bottomright:2px;     
}

ul.tab-list-items > li.active {
    display:block;
}

/** Background Images */
.basic-tab {
    background-image:url('../images/icons/block.png');
}

.permissions-tab {
    background-image:url('../images/icons/lock.png');
}

.users-tab {
    background-image:url('../images/icons/users.png');
}

.hosts-tab {
    background-image:url('../images/icons/servers.png');
}

/** Pagination */
table.list tfoot div.pagination {
    font-size:77%;
}

div.pagination {
    margin:0 auto;
    text-align:center;
    width:300px;
}

div.pagination ul {
    margin-top:5px;
}

div.pagination ul li {
    display:inline-block;
    height:16px;
    text-align:center;
    vertical-align:top;
}

div.pagination ul li.previous, div.pagination ul li.next {
    margin-top:-2px;
}

div.pagination ul li a.current-item {
    font-weight:bold;
}

/** Misc */
p.dev-notes {
    font-size:10px;
    text-align:center;
    border:1px dashed #cccccc;
    margin:15px 0px;
    padding:5px;
}

/** User List */
ul.user-list {
    clear:both;
    margin-left:125px;
    padding-top:10px;
    font-size:85%;
}

ul.user-list li {
    background-color:#F3F2E0;
    border:1px solid #CCCCCC;
    display:block;
    float:left;
    margin-right:5px;
    margin-bottom:10px;
    
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

ul.user-list li a {
    text-decoration:none;
    padding:3px;
    display:block;
    color:#484848;
    overflow:auto;
}

ul.user-list li a.delete-link {
    padding-right:20px;
    background-image:url('/default/images/icons/minus-small.png');
    background-repeat:no-repeat;
    background-position:center right;
}

ul.user-list li a:hover {
    background-color:#C24E13;
    color:#ffffff;
}

ul.user-list li span, ul.user-list li img {
    float:left;
}

a.reset-view {
    padding:2px 5px 2px 5px;
    background-color:#F5F5F5;
    border:1px solid #cccccc;
    text-decoration:none;
}

a.reset-view:hover {
    background-color:#F3F2E0;
    color:#3080CB;
}

/** Bulk Operations Area */
div.bulk-operations.table-footer {
    float:left;
}

div.bulk-operations {
    text-align:left;
    margin-bottom:15px;
    font-size:85%;
}

div.bulk-operations.bulk-bottom {
    margin-bottom:0;
}

/** Popups **/
ul.popup-list {
    font-size:85%;
    overflow:auto;
}

ul.popup-list li {
    margin-right:5px;
    margin-bottom:5px;
    float:left;
    width:140px;
}

ul.popup-list li.selected span{
    text-decoration:line-through;
}

div.popup-main-window-content h1 {
    border-bottom-color:#484848;
    border-bottom-style:solid;
    border-bottom-width:1px;
    font-weight:bold;
    margin-bottom:10px;
}

/** Path Selection */
ul.path-list a{
    float:left;
    display:block;
    height:16px;
    padding-left:20px;
    background-position:left center;
    background-repeat:no-repeat;
}

ul.path-list a.up {
    background-image:url('/default/images/icons/arrow-return-090.png');
}

ul.path-list a.folder {
    background-image:url('/default/images/icons/folders.png');
    color:#484848;
}

ul.path-list a:hover.folder {
    color:orange;
}

ul.path-list a.add {
    float:none;
}

/** User and Group List */
ul.usr-list {
    margin-bottom:25px;
}

ul.grp-list li span.name,
ul.usr-list li span.name {
    float:left;
    display:block;
    height:16px;
    padding-left:20px;
    background-image:url('/default/images/icons/user.png');
    background-position:left center;
    background-repeat:no-repeat;
}

ul.grp-list li span.name {
    background-image:url('/default/images/icons/users.png');
}

ul.popup-list li span.operation {
    display:inline-block;
    width:16px;
    height:16px;
    cursor:pointer;
}

ul.popup-list li span.add {
    background-image:url("/default/images/icons/plus-small.png");
}

ul.popup-list li span.remove {
    background-image:url("/default/images/icons/minus-small.png");
}

/** Help */
div.help{font-size:85%;}
div.help ol{margin-left:25px;}
div.help ol li{list-style-type: decimal-leading-zero;}
div.help h2{font-weight:bold;font-size:116%;margin-bottom:10px;border-bottom:1px solid #cccccc;}
div.help div.topic{margin-top:25px;}

/**
 * Validations
 */
p.validation-message{display:none;width:394px;padding:5px;font-size:85%;font-weight:bold;margin-left:125px;margin-bottom:5px;background-color:#C24E13;color:#ffffff;}

/** Popup Windows */
div.popup-main-window {
	position: absolute;
	background: #ffffff;
	z-index: 102;
	border: 2px solid #72808B;
	text-align:left;
	
	-moz-box-shadow:0 0 10px #888888;
	-webkit-box-shadow:0 0 10px #888888;
	
	
	min-width:650px;
	min-height:220px;
	
	width:650px;
	
	overflow-y:auto;
}

div.popup-main-window-close {
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

a.popup-main-window-close {
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
	display:block;
	cursor:pointer !important;
}

span.popup-main-window-title {
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
	display:block;
}

div.popup-main-window-title-bar {
	background-color:#EAEAE8;
	height:27px;
	font-size:85%;
	border-bottom:1px solid #484848;
	cursor:move;
}

div.popup-main-window-content {
	/*clear:both;*/
	padding:25px;
	overflow-y:auto;
	text-align:left;
	/*line-height:1.4em;*/
	width:auto !important;
	height:auto !important;

}

div.popup-main-window-drag-handle{
	width:15px;
	height:15px;
	border-right:2px solid #000000;
	border-bottom:2px solid #000000;
	position:absolute;
	right:0;
	bottom:0;
	cursor:se-resize;
}

/** User and Group List - Account Management Module */
div.account-list h3{font-size:108%;font-weight:bold;margin-bottom:25px;}

/** */
div.group-members p{font-size:85%;font-weight:bold;text-align:center;margin-bottom:10px;}
div.group-members p.no-users{color:#C24E13;}
